<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture your profile picture and documents for KYC verification.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select your profile picture and documents for KYC verification.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for video KYC verification.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save documents to your photo library.</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleDisplayName</key>
	<string>Spresearchvia</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>spresearchvia</string>

	<key>CFBundleIconName</key>
	<string>AppIcon</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<!-- 🔒 HARD BLOCK MAC -->
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<!-- ✅ iPhone + iPad only -->
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
